# The Series Data Structure

In [3]:
import pandas as pd
pd.Series?

A pandas series can be constructed by passing a list of items of the same type

In [ ]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

To specify your own index, you can also pass a dictionnary

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
print(s.sum())
print(s.max())
print ('sum= {}, mean= {}, max= {}, min= {}'.format(s.sum(), s.mean(), s.max(), s.min()))

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

# Querying a Series

In [ ]:
s.iloc[3]  # iloc with an integer representing the position of the index

In [ ]:
s.loc['Taekwondo']  # loc with the label of the index

In [ ]:
s[3]

In [ ]:
s['Taekwondo']

# The DataFrame Data Structure
A pandas dataframe can be constructed by passing a list of pandas series

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00}) 
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3']) 
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   2.5   Kitty Litter  Kevyn
Store 3   5.0      Bird Seed  Vinod

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df['Cost']

In [ ]:
df['Cost'] = df.Cost + 2
df.Cost

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1', inplace = True)

In [ ]:
df

# Dataframe Indexing and Loading
Let's play with the All-time Olympic Games medal table from wikipedia: https://en.wikipedia.org/w/index.php?title=All-time_Olympic_Games_medal_table&oldid=697531834

In [ ]:
df = pd.read_csv('olympics.csv')   
df.head(5)

It seems that there is a problem. Pandas has added an index and put the first row as the columns names. Let's fix this

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':  # Check if the column starts with 01
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True) # Rename the colmun as Gold and add .2 in case of a winter medal
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

Let's print some summaries about the dataframe

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['Combined total'].argmax()

In [ ]:
df.drop('Totals', axis=0, inplace =True)
df.shape

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df['Combined total'].argmax()

In [ ]:
%matplotlib inline
df['Combined total'].hist(bins=100)

# Use a boolean mask

In [ ]:
df['Combined total'] > 500

We can use the above expression as an index to get a dataframe with the combined total > 500

In [ ]:
df[df['Combined total'] > 500]

You can use multiple conditions, using "OR = |", "AND = &"

In [ ]:
at_least_one_gold = df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]
at_least_one_gold.head()

In [ ]:
only_winter_gold = df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]
only_winter_gold

# Indexing Dataframes

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]  # get rid of the rows that are summaries at the state level "40"
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])  # Multi-level indexing
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df.fillna?

In [ ]:
df = df.fillna(method='ffill')
df